<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="bg-light text-center p-3">
      <h4>Active Point Tasks</h4>
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">PT3 - Flerp n Derp</a>
        <a href="#" class="list-group-item list-group-item-action">Milestones</a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="bg-light text-center p-3 mb-3">
      <h4>Activity Check: 254</h4>
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">Check!</a>
      </div>
    </div>
    <div class="bg-light text-center p-3 mb-3">
      <h4>Training: 3/11 - 3/18</h4>
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">5 points</a>
        <a href="#" class="list-group-item list-group-item-action">3 points</a>
        <a href="#" class="list-group-item list-group-item-action">1 point</a>
      </div>
    </div>
    <div class="bg-light text-center p-3 mb-3">
      <h4>Equipment: Season 45</h4>
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">Gloves</a>
        <a href="#" class="list-group-item list-group-item-action">Helmet</a>
        <a href="#" class="list-group-item list-group-item-action">Stick</a>
        <a href="#" class="list-group-item list-group-item-action">Skates</a>
      </div>
    </div>
  </div>
</div>