<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="bg-light text-center p-3 mb-3">
      <h4>Active Point Tasks</h4>
      <div class="list-group">
        <a *ngFor="let pt of ptActive.pointTasks" href="#" class="list-group-item list-group-item-action">{{pt}}</a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="bg-light text-center p-3 mb-3">
      <h4>Activity Check: {{ptActive.activityCheckNumber}}</h4>
      <div class="list-group">
        <a *ngIf="!ptActive.activityCheckComplete" href="#" class="list-group-item list-group-item-action">Check!</a>
      </div>
    </div>
    <div class="bg-light text-center p-3 mb-3">
      <h4>Training: {{ptActive.trainingDate}}</h4>
      <div class="list-group" *ngIf="!trainingComplete">
        <a *ngFor="let training of ptActive.trainingOptions" href="#" class="list-group-item list-group-item-action">{{training}}</a>
      </div>
    </div>
  </div>
</div>