<div class="row">
  <div class="col-sm-6">
    <div class="bg-light p-3">
      <h4>Attributes</h4>
      <table id="editPlayerAttributes" class="table table-sm table-borderless profileTable m-0">
        <tbody>
          <tr>
            <td><input type="number" value="43" min="43" /></td>
            <td>Checking</td>
          </tr>
          <tr>
            <td><input type="number" value="25" /></td>
            <td>Fighting</td>
          </tr>
          <tr>
            <td><input type="number" value="62" /></td>
            <td>Discipline</td>
          </tr>
          <tr>
            <td><input type="number" value="80" /></td>
            <td>Skating</td>
          </tr>
          <tr>
            <td><input type="number" value="57" /></td>
            <td>Strength</td>
          </tr>
          <tr>
            <td><input type="number" value="52" /></td>
            <td>Endurance</td>
          </tr>
          <tr>
            <td><input type="number" value="71" /></td>
            <td>Puck Handling</td>
          </tr>
          <tr>
            <td><input type="number" value="40" /></td>
            <td>Face Offs</td>
          </tr>
          <tr>
            <td><input type="number" value="75" /></td>
            <td>Passing</td>
          </tr>
          <tr>
            <td><input type="number" value="65" /></td>
            <td>Scoring</td>
          </tr>
          <tr>
            <td><input type="number" value="80" /></td>
            <td>Defense</td>
          </tr>
          <tr>
            <td><input type="number" value="40" /></td>
            <td>Penalty Shot</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="bg-light p-3">
      <p>
        <span>11 points available</span><br />
        <span>0 points used</span><br />
      </p>
      <input class="btn btn-primary" type="button" value="Submit Update">
    </div>
  </div>
</div>