<div class="row">
  <div class="col">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      Update Submitted Successfully!
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>

<div class="row" *ngIf="update">
  <div class="col-sm-6 col-lg-4">
    <div class="bg-light p-3">
      <h4>Attributes</h4>
      <table class="table table-sm table-borderless currentUpdateTable m-0">
        <tbody>
          <tr *ngFor="let att of update.attributes">
            <td><input type="number" [value]="att.attValue" [min]="att.attValue" /></td>
            <td>{{att.attName}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3 mt-3 mt-sm-0">
    <div class="bg-light p-3 text-center">
      <p>
        <span>{{update.pointsTotal}} points total</span><br />
        <span>{{update.pointsAvailable}} points available</span>
      </p>
      <p>
        <span>{{pointsUsed}} points used</span>
      </p>
      <input class="btn btn-primary" type="button" value="Submit Update">
    </div>
  </div>
  <div class="col-lg-5 mt-3 mt-lg-0">
    <div class="bg-light p-3">
      <h4>Current Submission</h4>
      <table class="table table-borderless table-sm currentSubmittedTable mb-2">
        <tr class="border-bottom">
          <th>Attribute</th>
          <th>Old</th>
          <th>New</th>
          <th>Pts</th>
        </tr>
        <tr *ngFor="let att of update.submission.attributeUpdates">
          <td>{{att.attName}}</td>
          <td>{{att.attPrevValue}}</td>
          <td>{{att.attNextValue}}</td>
          <td>{{att.attCost}}</td>
        </tr>
        <tr class="border-top">
          <th></th>
          <th></th>
          <th>{{update.submission.valueDifference}}</th>
          <th>{{update.submission.cost}}</th>
        </tr>
      </table>
      <input class="btn btn-secondary" type="button" value="Remove Update">
    </div>
  </div>
</div>