<div class="row justify-content-center">
  <div class="col-lg-6">
    <div class="bg-light p-3">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <button class="btn btn-outline-secondary" type="button">Prev</button>
        </div>
        <select class="custom-select" id="updateDateDropdown">
          <option value="0" selected>Current</option>
          <option value="1">3/15/19</option>
          <option value="2">3/8/19</option>
          <option value="3">3/2/19</option>
        </select>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button">Next</button>
        </div>
      </div>
      <table class="table table-borderless ptHistoryTable m-0">
        <thead>
          <tr class="border-bottom">
            <th>Name</th>
            <th>Points</th>
            <th>Capped</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Activity Check #200</td>
            <td>2</td>
            <td>-</td>
          </tr>
          <tr>
            <td>Weekly Training</td>
            <td>5</td>
            <td>-</td>
          </tr>
          <tr>
            <td>PT 3: Flerp a Derp</td>
            <td>3</td>
            <td>3</td>
          </tr>
        </tbody>
        <tfoot>
          <tr class="border-top">
            <th></th>
            <th>10</th>
            <th>3</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>