<div class="row justify-content-center" *ngIf="bank">
  <div class="col-md-8 col-lg-5">
    <div class="bg-light p-3 mb-4">
      <h4>Balance</h4>
      <div class="p-1">
        <span id="bankBalance"><strong>{{bank.bankBalance | currency : 'USD' : 'symbol' : '1.0'}}</strong></span><br />
      </div>
    </div>
    <div class="bg-light p-3 mb-3">
      <h4 class="mb-3">Bank Options</h4>
      <div class="list-group text-center">
        <a href="#" class="list-group-item list-group-item-action">Transfer Money</a>
        <a href="#" class="list-group-item list-group-item-action">Purchase Username Change</a>
        <a href="#" class="list-group-item list-group-item-action">Purchase Player Name Change</a>
      </div>
    </div>
  </div>
  <div class="col-lg-7">
    <div class="bg-light p-3">
      <h4 class="mb-3">History</h4>
      <table class="table table-borderless bankHistoryTable m-0">
        <tr class="border-bottom">
          <th>Transaction</th>
          <th>Date</th>
          <th>Amount</th>
        </tr>
        <tr *ngFor="let item of bank.historyItems">
          <td>{{item.name}}</td>
          <td>{{item.date}}</td>
          <td [class.negative]="item.amount < 0" [class.positive]="item.amount > 0">{{item.amount | currency : 'USD' : 'symbol' : '1.0'}}</td>
        </tr>
      </table>
      <pagniation (pagination)="bank.pagination"></pagniation>
    </div>
  </div>
</div>