<div class="row" *ngIf="profile">
  <div class="col-md-4">
    <div class="bg-light text-center py-3">
      <img id="profileImage" src="../../../assets/img/placeholder.jpg" />
      <div id="profileInfo" class="mt-2">
        <h4>{{profile.playerName}}</h4>
        <span>{{profile.playerPosition}}</span><br />
        <span>{{profile.playerArchtype}}</span><br />
        <span>{{profile.team}}</span><br />
        <span>Season {{profile.draftSeason}}</span><br />
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="bg-light p-3">
      <div class="text-center">
        <span><strong>{{profile.pointsTotal}}</strong> Total Points</span><br />
        <span><strong>{{profile.pointsAvailable}}</strong> Unused Points</span><br />
        <span id="bankBalance"><strong>{{profile.bankBalance | currency : 'USD' : 'symbol' : '1.0'}}</strong></span><br />
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="bg-light p-3">
      <h4>Attributes</h4>
      <table id="playerAttributes" class="table table-sm table-borderless profileTable m-0">
        <tbody>
          <tr *ngFor="let att of profile.attributes">
            <td>{{att.attValue}}</td>
            <td>{{att.attName}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>