<div class="row">
  <div class="col-sm-3">
    <div class="text-center py-3" style="background: rgb(224, 238, 255)">
      <img id="profileImage" src="../../../assets/img/placeholder.jpg" style="max-width: 200px" />
      <div id="profileInfo" class="mt-2">
        <h4 id="playerName">Ray Borcey</h4>
        <span id="teamName">West Kendall Platoon</span><br />
        <span id="seasonDrafted">Season 44</span><br />
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="p-3" style="background: rgb(224, 238, 255)">
      <h4>Attributes</h4>
      <table id="playerAttributes" class="table table-sm table-borderless m-0">
        <tbody>
          <tr>
            <td>Checking</td>
            <td>CK</td>
            <td>43</td>
          </tr>
          <tr>
            <td>Fighting</td>
            <td>FG</td>
            <td>25</td>
          </tr>
          <tr>
            <td>Discipline</td>
            <td>DI</td>
            <td>62</td>
          </tr>
          <tr>
            <td>Skating</td>
            <td>SK</td>
            <td>80</td>
          </tr>
          <tr>
            <td>Strength</td>
            <td>ST</td>
            <td>57</td>
          </tr>
          <tr>
            <td>Endurance</td>
            <td>EN</td>
            <td>52</td>
          </tr>
          <tr>
            <td>Puck Handling</td>
            <td>PH</td>
            <td>71</td>
          </tr>
          <tr>
            <td>Face Offs</td>
            <td>FO</td>
            <td>40</td>
          </tr>
          <tr>
            <td>Passing</td>
            <td>PA</td>
            <td>75</td>
          </tr>
          <tr>
            <td>Scoring</td>
            <td>SC</td>
            <td>65</td>
          </tr>
          <tr>
            <td>Defense</td>
            <td>DF</td>
            <td>80</td>
          </tr>
          <tr>
            <td>Penalty Shot</td>
            <td>PS</td>
            <td>40</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="p-3" style="background: rgb(224, 238, 255)">
      <h4>Points</h4>
      <span id="pointTotal">1123 TPE</span><br />
      <span id="pointAvailable">11 Points Available</span><br />
    </div>
  </div>
  <div class="col-sm-3">
    <div class="p-3" style="background: rgb(224, 238, 255)">
      <h4>Bank</h4>
      <span id="bankBalance">$69,000,000</span><br />
    </div>
  </div>
</div>